.flickrContainer{
	margin-top: -9px;
}

.flickrThumb{
	position: relative;
	margin-right: 9px;
	margin-bottom: 9px;
	margin-left: 0;	
}
.flickrThumb img{
	margin-top: 10px;
	width: 90px;
	height: 90px;
}
