
html,body{
	width:100%;
	height:100%;
}
/* SLIDE / SECTION
================================================== */
.slide{
	width: 100%;
	min-height: 50%;
	position: relative;		
	background-attachment:fixed;
}
.slideBackgroundOverlay{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.slideWrapper{
	padding-top: 106px;
	position: relative;
	top: 0; 
	margin: auto;
}
.slideHeader{	
	height: 66px;
	text-align: center;
}
.slideTitle{
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 800;
	margin: 5px 0;	
}
.slideSubtitle{
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	font-weight: 300;
	margin-top: 5px;	
}
.slideHeaderLine{
	height: 1px;
}
.headerLineColor{
	background-color: #CCCCCC;
}
.slideHeaderLineContent{
	min-height: 64px;
}
.slideContent{
	margin: 50px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	font-weight: 300;
	position: relative;
}
.slideFooter{
	height: 34px;
}
.slideGoTop{
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	font-weight: 300;
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
}
#homewrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.homeSlide{
	min-height: 100%;	
}

.slideExtraPoint{
	width: 3px;
	height: 3px;
	position: absolute;
	opacity: 1;
	left: 0;
	bottom: 350px;
	z-index: 100;
}

.slideNonMobile{	
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size: cover; 	
}
/* MAIN PRELOADER
================================================== */
#mainPreloader{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #FFF;
	position: fixed;
	z-index: 2000;
	overflow: hidden;
}
.mainPreloaderItem{
	position: absolute;	
	width:195px;
}
.mainPreloaderText{	
	font-family: 'Open Sans', sans-serif;
	color: #878383;
	font-size: 18px;	
	text-align:center;
}

/* LOGO CONTAINER
================================================== */
#logoContainer{
	position: absolute;
	width: 461px;
	height: 60%;
	top: 0px;
	cursor: pointer;
}
#innerLogoContainer{
	width: 100%;
	/*background: url('../images/logo_background.png');*/
	text-align:center;
}
#logoSpacerTop{
	
}
#innerLogoContainer img{
	/*width: 50%;*/
	width:195px;
}
#logoArrowDown{
	width: 100%;
	height: 49px;
	position: relative;
	bottom: 0;
	display:none;
}
#logoArrowDown img{
	width: 100%;
	border: none;
	outline: none;
	
}


/* HOME SOCIAL SIDEBAR
================================================== */
#homeSocialSidebarContainer{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 86%;
}
#homeSocialSidebar{
	position: absolute;
	width: 100%;
	height: 50px;
	background:#70a5d7;
	background:rgba(112,165,215,0.15);
	bottom: 0px;
	list-style-type: none;
	text-align: center;
}
#homeSocialSidebar li{
	display: inline-block;
}
#homeSocialSidebar li a{
	display: block;
	outline: none;
	padding: 10px 9px;
	text-decoration: none;
}
#homeSocialSidebar li a img{
	width: 31px;
	height: 32px;
}

/* home scroll down */
.homeScrollDown{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 72%;
}
.scrollDownImgUI{
	position: absolute;
	width: 100%;
	bottom: 0px;
}
.scrollDIMG{
	width: 123px;
	position: relative;
	margin: auto;
	cursor: pointer;
}

/* end home scroll down */


/* MAIN MENU
================================================== */
.mainMenu{
	width: 100%;
	height: 50px;
	position: absolute;
	background-color: #93abbf;
	left: 0;
	top: 0px;
	overflow: hidden;
	z-index: 1000;
}
.mainMenu ul{
	width: 100%;
	height: 100%;
	text-align: center;
}
.mainMenu ul li{
	display: inline-block;
}
.mainMenu ul li a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 10px;		
	height: 50px;	
	display: block;
	padding-top: 28px;
	font-size: 11px;
	color: #fffde8;
	text-shadow: 0px 0.5px 1px rgba(0,0,0,0.6);
	outline: none;
}
.selectedMenuItem{
	background-color: #7392ad;
}
.removeMenu{
	display: none;
}
.fixedMenu{
	position: fixed;
	left: 0;
	top: 0;
}
/*mobile menu*/
.mobileMenu{
	position: absolute;
	width: 100%;
	height: 50px;
	overflow: hidden;
	top: 0px;
	left: 0px;	
	z-index: 7000;	
}
#mobileSelect{
	width: 220px;
	position: relative;
	margin: auto;
	margin-top: 13px;
	display: block;
}



/* FOOTER
================================================== */
.footerSlide{
	background-color: #2d333b;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.19)
}
.footerLinks{
	height: 40px;
	overflow: hidden;
}
.footerLinksList{
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 11px;
}
.footerLinksList li{
	display: inline-block;
	margin: 0 8px;
}
.footerLinksList li a{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 12px;
	outline: none;	
}
.footerLinesColor{
	background-color: #4b4b4b;
}

.usefullLinksList li a{
	text-decoration: none;
	line-height: 40px;
	color: #c9c8c8;
}

.footerSidebar{
	padding: 40px 0;
}
.footerWidget{
	width: 300px;
	float: left;
	margin: 10px;
	margin-bottom: 18px;
}
.footerWidgetTitle{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 28px;
	font-weight: 800;
	text-transform: uppercase;
	color: #ec761a;
	width: 100%;
	text-shadow: 0.2px 0.5px 1px rgba(0,0,0,0.6);
	margin-bottom: 18px;
}

.footerWidgetContent{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #c9c8c8;
	line-height: 18px;
}
.verticalWidgetSpaceBoxes{
	width: 100%;
	height: 2px;
}


/* UTILS
================================================== */
.clear-fx{
	clear:both;
}
.removeElement{
	display: none;
}
/* END UTILS
================================================== */

/* General
================================================== */

.defaultText{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 17px;	
}
.defaultText strong{ 
	font-weight: bold; 
	color: inherit; 
}
.defaultText em{ 
	font-style: italic; 
	color: inherit; 
}
.defaultColor{
	color: #5e5a62;
}
.editorContent p{
	margin-bottom: 18px;
}


/*phone shortcode*/
a.phoneBig{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 32px;
	font-weight: 300;
	line-height: 40px;
}

/* team member */
.teamMContainer{
	float: left;
}
.teamMemberName{
	font-family: 'Open Sans', sans-serif;
	font-size: 23px;
	color: #4d4852;
	line-height: 24px;
	margin-bottom: 10px;
}
.teamMemberPosition{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #a1a1a1;
	line-height: 16px;
	font-weight: 300;
	margin-bottom: 25px;
}
.teamMemberLine{
	height: 1px;
	background-color: #d6d6d6;
}
.teamMemberContent{	
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #a1a1a1;	
}
/* end team member */


/* landing page styles */
.landingPageHeader1{
	font-family: 'Signika', sans-serif;
	font-weight: 700;
	font-size: 85px;
	color: #fff7d0;
	text-shadow: 0px 0.5px 1px rgba(0,0,0,0.6);
	text-transform: uppercase;
	line-height: 88px;
	margin-bottom: 0px;
}
.landingPageDefaultText{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 22px;	
	color: #fff7d0;
	font-weight: 600;
	text-shadow: 0px 0.5px 1px rgba(0,0,0,0.6);	
}
.landingPageHeader2{
	font-family: 'Open Sans', sans-serif;
	font-size: 34px;
	color: #fff7d0;
	font-weight: 300;
	text-shadow: 0px 0.5px 1px rgba(0,0,0,0.6);	
	text-transform: uppercase;
	line-height: 38px;
	margin-bottom: 0px;	
}
.landingPageHeader3{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #fff7d0;
	font-weight: 800;
	text-shadow: 0px 0.5px 1px rgba(0,0,0,0.6);	
	text-transform: uppercase;
	line-height: 34px;
	margin-bottom: 0px;	
}
/* end landing page styles */

/* our clients */
.ourClients{
	/*background-color: #eaeaea;*/
	/*background-color: #fff;*/
	width: 100%;
	text-align: center;
}
.ourClientsList{
	display: inline-block;
	text-align: center;
	padding: 5px 12px;
	/*padding-top: 5px;
	padding-bottom: 5px;*/
}
.ourClientsList a{
	text-decoration: none;
	outline: none;
}
.ourClientsList a img{vertical-align: middle;}

/* end our clients */


h2{
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 15px;
	text-decoration: none;	
}

a{font-family: 'Open Sans', sans-serif}
a:link {color:#85b6e1;}      /* unvisited link */
a:visited {color:#85b6e1;}  /* visited link */
a:hover {color:#91bbe1;}  /* mouse over link */
a:active {color:#85b6e1;}  /* selected link */ 


.genericButton, a.genericButton {
	display: inline-block;
	outline: none;
	border: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	font-size: 10px;
	text-transform: uppercase;
	padding: .6em 2em .55em;
	-webkit-border-radius: .2em; 
	-moz-border-radius: .2em;
	border-radius: .2em;
}
.genericButton:visited, a.genericButton:visited{
	outline: none;
	text-decoration: none;	
}
.genericButton:hover, a.genericButton:hover{
	outline: none;
	text-decoration: none;
	color: #FFF;
}
.genericButton:active, a.genericButton:active{
	outline: none;
	text-decoration: none;
	color: #FFF;
}



a.genericBoxButton{
	width: 27px;
	height: 27px;
	display: block;
	outline: none;
}


#secureScreen{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 5000;
}
.secure{
	display: none;
}

.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}
.resetColumns{
	width: 100%;
	height: 1px;
	clear: both;
}

::-webkit-input-placeholder { /* WebKit browsers */
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	line-height: 15px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	line-height: 15px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	line-height: 15px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	line-height: 15px;
}


/* SKILL
================================================== */
.skillContainer{
	position: relative;
	width: 100%;
}
.skill{
	width: 208px;
	height: 208px;
	position: absolute;	
    -moz-border-radius:104px;
    -webkit-border-radius:104px;	
    border-radius:104px;
}
.skillPercent{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 52px;
	font-weight: 300;
	color: #efefef;
	text-align: center;
	width: 100%;
	padding-top: 65px;
	line-height: 55px;
	cursor: default;	
}
.skillText{
	color: #efefef;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 13px;
	cursor: default;
}
.skillTop{
	z-index: 10;
}

/* END SKILL
================================================== */


/* PRICING TABLE
================================================== */
.pricingTableBox{
	width: 100%;
	background-color: #f4f2f2;
	padding: 1px;
	margin-bottom: 20px;	
}
.pricingTableBoxInner{
	width: 100%;
	border: solid;
	border-width: 1px;
	border-color: #e0e0e0;
	background-color: #efefef;
	-moz-box-shadow: inset 0 -9px 9px -12px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 -9px 9px -12px rgba(0,0,0,0.2);
	box-shadow: inset 0 -9px 9px -12px rgba(0,0,0,0.2);
}
.pricingBoxTitleContainer{
	width: 100%;
	height: 45px;
	text-align: center;
	background-color: #f6f5f5;
}
.pricingTitle{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 800;
	text-transform: uppercase;
	color: #979599;
	padding-top: 15px;
}
.pricingLine1{
	width: 100%;
	height: 1px;
	background-color: #ecebeb;
}
.pricingLine2{
	width: 100%;
	height: 1px;
	background-color: #FFF;
}
.pricingLine3{
	width: 70%;
	height: 1px;
	background-color: #d4d4d4;
	position: relative;
	margin: auto;
}
.pricingMainContent{
	background-color: #efefef;
	padding-left: 28px;
	padding-right: 28px;
	padding-top: 22px;
}
.pricingPrice{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	font-weight: 300;
	color: #6c6c6c;	
	line-height: 59px;
}
.dollar{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #979599;
	position: relative;
	top: -26px;
}
.priceMonth{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #979599;
}
.pricingTextContent{
	color: #979599;
	font-size: 12px;
	padding: 0 15%;
	margin: 20px 0px;
}
.pricingBtnUI{
	text-align: center;
	margin-bottom: -12px;
}
/* END PRICING TABLE
================================================== */



/**************************************************************************/
/*  WP related                                                          */
/**************************************************************************/


img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.sticky {
	 color: #fff79a;
	 padding: 20px;
}
.gallery-caption{
	color: #FFF;	
}
.bypostauthor{
	background-color: #000;
	color: #fff79a;
}
li.bypostauthor { 
   color: #fff79a;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


