.postBox{
	width: 300px;
	min-width: 300px;
	max-width: 301px;		
}
.oneThirdBlog{
	min-width: 300px;
}


/* TWITTER PATCH V 1.1
================================================== */
.sk_twitter-article{
	background-color: #000;
	background: rgba(0,0,0, .5);
	padding: 8px;	
	margin-top: 10px;
	font-size: 11px;
}
p.sk_tweeter_text{
	color: #FFF;
}
.sk_twitter-pic{
	float: left;
	margin-right: 8px;
}
p.sk_load_tweets{
	color: #CCC;
}

/* END TWITTER PATCH V 1.1
================================================== */

