/* PORTFOLIO page
================================================== */

.portfolioMainColor{
	color: #ec761a;
}
.portfolioButtonColor{
	background-color: #ec761a;
}
.blogMainColor{
	color: #ec761a;
}
a.blogMainColor{
	color: #ec761a;
}
.blogButtonColor{
	background-color: #ec761a;
}
.contactHeadersColor{
	color: #ec761a;
}

.isotopeMenu{
	width: 100%;
	padding-top: 20px;
	margin-bottom: 50px;
	text-align: right;
}
.isotopeMenu li{
	display: inline-block;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #eaeaea;
}
.isotopeMenu li a{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #eaeaea;	
	display: block;
	padding: 1px 12px;
	height: 14px;
	margin-top: 12px;
	text-decoration: none;	
	outline: none;
	text-transform: lowercase;
}
.isotopeMenuSelected{
	background-color: #ec761a;
}


.size1{
	width: 300px;
}
.size1 div img{
	width: 300px;
	height: 160px;	
}
.size2{
	width: 300px;
}
.size2 div img{
	width: 300px;
	height: 277px;
}

.size3{
	width: 300px;
}
.size3 div img{
	width: 300px;
	height: 126px;
}

.size4{
	width: 300px;
}
.size4 div img{
	width: 300px;
	height: 600px;
}
.isotopeItem{
	margin: 6px;
	float: left;
	z-index: 2;
}
.portfolioPreviewThumb{
	border: 0;
	outline: none;
}

.imageItem{
	cursor: pointer;
	overflow: hidden;
}
.imageItemOverlay{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;	
}
.imageItemOverlayTransparent{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity:0;
	filter:alpha(opacity=0); /* For IE8 and earlier */	
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.80);	
}
.imageItemTitle{
	position: absolute;
	bottom: 0px;
	left: 305px;
	width: 100%;
	height: 50px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;	
	color: #fffefe;
	font-weight: 600;
	text-shadow: 0.2px 0.5px 1px rgba(0,0,0,0.6);
	text-align: right;
	text-transform: uppercase;
	line-height: 50px;
}

a.portfolioPreviewTitle{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
	color: #ec761a;
	text-shadow: 0.2px 0.5px 1px rgba(0,0,0,0.6);
	margin-bottom: 15px;
	text-decoration: none;
	outline: none;
	display: block;
}

/* single portfolio page
================================================== */
.openedPortfolio{
	width: 100%;	
	position: relative;
	overflow: hidden;
}
.portfolioPreloaderContainer{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
		
	opacity: 0;	
}
.hidePortfolioItemPreloader{
	display: none;
}
.portfolioOpenItemContent{
	position: relative;
	top: 0;
	left: 0;
	padding-bottom: 50px;
}
#singleProjectPreloadIMG, #singleProjectPreloadTXT{
	position: absolute;	
}
.singleProjTop{
	width: 100%;
	height: 27px;
	padding-bottom: 1px;
}

.buyNowContainer{
	margin-top: 30px;
	min-height: 50px;
	padding: 0px 28px;
}
.portfoliItemCOntent{
	background-color: #393939;
	margin-top: -33px;	
	margin-bottom: 30px;
	padding: 20px;
}
.contentTextColor{
	color: #c9c8c8;
}
.portfolioOpenItemTitle{
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: 0.2px 0.5px 1px rgba(0,0,0,0.6);
	margin-bottom: 15px;
	text-decoration: none;		
}



/* portfolio lightbox */

.portfolioLightbox{
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 3050;
	position: fixed;
	background-color: #000000;
	background:rgba(0,0,0,0.90);
	overflow: hidden;
}
.imgLoadingLightbox{
	position: absolute;
	width:195px;
}
.hidePortfolioLightbox{
	display: none;
}
.preloaderGIF{
	width: 25px;
	height: 25px;
	position: absolute;
}
.lightboxImageContainer{
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
}
.lightboxTitle{
	position: absolute;
	top: 15px;
	left: 0px;	
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
	color: #ec761a;
	text-shadow: 0.2px 0.5px 1px rgba(0,0,0,0.6);
	margin-bottom: 15px;
	text-decoration: none;	
}
.lightboxControls{
	position: absolute;
	bottom: 15px;
	left: 0px;		
}

.lightboxDisabledButton{
	background-color: #7b7b7b;
	cursor: default;
}

/* end portfolio lightbox */


/* single project slider */
.sliderXNav, .sliderHoverNav{
	width: 100%;
	height: 10px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 12;
	text-align: center;	
}
.sliderHoverNav{
	z-index: 11;
	bottom: 0px;
	text-align: left;	
}
.sliderHoverNav li{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.sliderHoverNav li img{
	position: absolute;
	margin: auto;
	width: 150px;
	height: 59px;
	top: 0px;
	left: 0px;
}

.sliderXNav li{
	display: inline-block;
	width: 100%;
	height: 100%;
}
a.sliderXNavLink{
	max-width: 100%;
	height: 10px;
	display: block;
	margin-right: 1px;
	background-color: #CCC;
	outline: none;
}
a.selectedSliderColor{
	background-color: #ec761a;
}
.slidesContainer{
	position: relative;
}
.slideTopIndex{
	z-index: 10;
}
/* end single project slider */



/* RECENT PROJECTS page
================================================== */
.recentProjectsContainer{
	margin-bottom: 30px;
}
.recentProjectItem{
	margin: 10px;
	min-width: 220px;
	cursor: pointer;		
}
.innerRecentProject{
	width: 220px;
	height: 418px;
	position: relative;
	margin: auto;	
}
.recentProjectContent{
	width: 218px;
	height: 334px;
	background-color: #ffffff;
	position: relative;
	margin: auto;
	top: 20px;
	box-shadow: 1px 1px 1px #787878;
}
.rpHeight1{
	height: 334px;
	top: 84px;
}
.rpHeight1 img{
	width: 218px;
	height: 244px;
}

.rpHeight2{
	height: 418px;
	top: 0px;
}
.rpHeight2 img{
	width: 218px;
	height: 328px;
}

.rpHeight3{
	height: 377px;
	top: 41px;
}
.rpHeight3 img{
	width: 218px;
	height: 287px;
}

.rpHeight4{
	height: 357px;
	top: 61px;
}
.rpHeight4 img{
	width: 218px;
	height: 267px;
}

.recentProjectTitleArea{
	width: 100%;
	height: 90px;
	overflow: hidden;
}
.recentProjectTitle{	
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #ec761a;	
	font-size: 18px;
	margin-top: 22px;
	line-height: 20px;
	padding: 0 20px;
}
.recentProjectSubtitle{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
	color: #737373;	
	font-size: 11px;
	padding: 0 20px;
	margin-top: 6px;	
}


/* BLOG list boxes
================================================== */
.postBox{
	width: 300px;	
	height: 499px;
	position: relative;
	margin: auto;
	background: url('../images/blog_pattern.png');
	background-repeat:repeat;
	box-shadow: 1px 1px 1px #787878;
	margin-bottom: 20px;
	overflow: hidden;
}
.blogboxWrapper{
	width: 262px;
	padding-top: 10px;
	padding-left: 19px;
	padding-right: 19px;	
}
.blogFeaturedImg{
	width: 262px;
	height: 170px;
	position: relative;
}
a.aBlogFeaturedImg{
	display: block;
	text-decoration: none;
	outline: none;
}
.blogPImageShadow{
	width: 262px;
	height: 26px;	
	margin-top: -3px;
}
.blogExcerptContainer{
	height: 176px;
	overflow: hidden;
}
.blogPFooter{
	width: 100%;
	height: 119px;
	background-color: #FFF;	
}
.blogFooterFirst{
	width: 80px;
	float: left;
}
.blogFooterSecond{
	width: 220px;
	float: left;
}
.blogPDay{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;	
	font-size: 55px;
	text-align: center;
	margin-top: 15px;
}
.blogPMonth{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #737373;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
}
.blogCommentsBox{
	width: 80px;
	text-align: center;
	margin-top: -5px;
	float: left;
}
.blogCommentsBox li{
	display: inline-block;
	height: 19px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #737373;
}
.blogCommentsBox li a{
	display: block;
	line-height: 20px;
	font-size: 11px;
}

.blogBoxTitle, a.blogBoxTitle{
	margin-top: 19px;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 28px;
	padding-right: 19px;
	text-decoration: none;
	display: block;
	outline: none;
}
a.blogReadMore{
	color: #737373;
	position: relative;
	margin-top: 5px;
	display: block;
	outline: none;
}

/* END BLOG list boxes
================================================== */


/* BLOG page
================================================== */
.blogPageContent{
	overflow: hidden;
}

.singleBlogTop{
	width: 100%;
	height: 27px;
	padding-bottom: 1px;
}
.singleContent{
	height: auto;
}
.singleContentFirst{
	width: 80px;
	float: left;
	background-color: #FFF;
	padding: 12px 0px;		
}
.singleContentSecond{	
	background: url('../images/blog_pattern.png');
	background-repeat:repeat;
	float: right;
	width: 100%;
	max-width: 804px;
	position: relative;	
	-moz-box-shadow: inset 0 0 10px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 0 10px 1px rgba(0,0,0,0.15);
	box-shadow: inset 0 0 10px 1px rgba(0,0,0,0.15);
}
.articleAuthor{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #737373;
	text-align: center;
	margin-top: 35px;
	padding: 3px;
	font-size: 10px;
	line-height: 14px;
}
.blogPostTitle, .commentsTitle{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 28px;
	margin-bottom: 18px;
}
.openedBlogPost{
	width: 100%;
}

.commentsContent{
	background-color: #393939;
	padding: 20px 15px;
	margin-top: 40px;
}

/* END BLOG page
================================================== */


/* CONTACT page
================================================== */
.contactInnerSectionTitle{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: 0.2px 0.5px 1px rgba(0,0,0,0.6);
	margin-bottom: 24px;	
}
.mapContainer{
	width: 100%;
	height: 244px;
	margin-bottom: 50px;
}
.mapContainer iframe{
	width: 100%;
	height: 100%;
}
/*contact form*/
.formContainer{
	width: 100%;
}
.inputField{
	font-family: 'Open Sans', sans-serif;
	width: 185px;
	float: left;
	margin-right: 30px;
}
#txt{
	width: 100%;
	max-width: 615px;	
	font-family: 'Open Sans', sans-serif;
}
.formGroup{
	float: left;
	width: 100%;
	display: block;
}
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
}
.control-group.error .checkbox:focus,
.control-group.error .radio:focus,
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}




/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
/**** end Isotope Filtering ****/


