/* BLOG PAGINATION
================================================== */
.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px;
float: right;
}

.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
background-color: #93abbf;
color: #000;
}

.pagination a:hover{
	background-color: #829bb0;
}


.pagination .current{
padding:6px 9px 5px 9px;
background-color: #829bb0;
}
/* END PAGINATION
================================================== */


/* BLOG COMMENTS
================================================== */
.commentContentTextColo{
	color: #c9c8c8;
}
.commentsHeader{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin: 5px 0;
	margin-bottom: 8px;	
}
.logged-in-as{
	margin-bottom: 5px;
}
#submit{
	margin-top: 4px;
/* add styles for submit button from javascript based on Admin selection */	
}
.commentlist{
	list-style:none;
	margin:0;
	padding:0;
	margin-bottom:15px;
}
.commentlist li{
	margin:0;
	padding:0;	
	background-color: #000000;
	background:rgba(0,0,0,0.20);
	padding: 10px;
	margin-bottom: 10px;
}
.comment_avatar{
	float: left;
	margin-right: 10px;
}
.author_link{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 300;
	text-decoration: none;
	outline: none;	
}
.author_link_bold{
	font-weight: 600;
	margin-right: 10px;
}

.comment_form{
	margin-bottom: 40px;
}
.comment_textInput{
	width: 300px;
	height: 25px;
	border: none;
	padding-left: 7px;
	margin-bottom: 10px;
}
.comment_textarea{
    outline: none;
    border: none;
    padding-left: 7px;
    padding-top: 7px;
    margin-bottom: 10px;
    width: 70%;
}
.submitButton{
	border: none;
	outline: none;
	cursor: pointer;
}

.permalink_single{
	visibility: hidden;
}
/* END BLOG COMMENTS
================================================== */



/* CALENDAR WIDGET
================================================== */

.widget_calendar {float: left;}
#wp-calendar {width: 80%; }
#wp-calendar caption { text-align: right; color: #ec761a; text-transform:uppercase; font-family: 'Open Sans', sans-serif; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 11px; font-family: 'Open Sans', sans-serif; font-weight: bold;}
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #dcdcdc;}
#wp-calendar tbody td { background: #47494c; border: 1px solid #54575a; font-family: 'Open Sans', sans-serif; text-align: center; padding:8px;}

#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; font-family: 'Open Sans', sans-serif;}
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; font-family: 'Open Sans', sans-serif;}
#today { background-color: #ec761a; }
/* END CALENDAR WIDGET
================================================== */