
/* generic admin styles
================================================== */
.metaBoxContentBox{
	margin: 10px 0px;
	margin-right: 15px;
	margin-bottom: 20px;
	border: solid;
	border-width: 1px;
	border-color: #CCC;
	padding: 10px;
	background-color: #ebe9e9;
}
.inputText{
	height: 30px;
	margin: 15px 0px;
	margin-top: 2px;
	font-size: 14px;
	color: #444343;
}
.numStep{
	height: 25px;
	width: 60px;
	margin: 15px 0px;
	margin-top: 2px;
	font-size: 16px;
	color: #444343;	
}
.boxContentTextarea{
	width: 100%;
}
.fullWidth{
	width: 100%;
}
.customLabel{
	font-size: 14px;
	color: #616060;
	font-style: italic;
}
.chBLabel{
	font-size: 13px;
	margin-left: 5px;
	color: #616060;
	margin-top: 5px;	
}
.selectUI, .selectUI option{
	outline: none;
}
.hLine{
	width: 100%;
	height: 1px;
	background-color: #CCC;
	margin: 10px 0;
}
.space01{
	width: 100%;
	height: 10px;
}
.clear-fx{
	clear:both;
}

/* default background image
================================================== */
.backIMG{
	max-width: 250px;
}
/* default logo image - admins
================================================== */
#logoIMG, #backgroundIMG{
	max-width: 220px;
}
.imgUI{
	max-width: 250px;
}


#portfolioContainer{
	margin: 0;
	padding: 0;
}
.itemActionMenu .button-secondary{
	margin-left: 10px;
}
.portfolioImgPreview{
	margin-bottom: 10px;	
}
.portfolioImgPreview img{
	max-width: 300px;
}

/* theme documentation
================================================== */
.docIframe{
	width: 100%;
	height: 800px;
	border: none;
	outline: none;
}
/* end theme documentation
================================================== */